<header id="header">
  <div class="header">
    <div class="logo-search-container">
      <div class="logo-container">
        <a>
          <i class="fab fa-facebook-square"></i>
        </a>
      </div>
      <div class="search-container">
        <input class="search-input" />
        <button class="search-button">
          <i class="fas fa-search font-size-14"></i>
        </button>
      </div>
    </div>

    <div class="menu">
      <div>
        <a class="separator home-tab">
          Home
          <span>5</span>
        </a>
      </div>
      <div class="margin-left-30 pointer">
        <a>
          <i class="fas fa-user-friends icon-color"></i>
        </a>
      </div>
      <div class="margin-left-10 pointer">
        <a>
          <i class="fas fa-comments icon-color"></i>
        </a>
      </div>
      <div class="margin-left-10 pointer">
        <a>
          <i class="fas fa-globe-europe icon-color"></i>
        </a>
      </div>
      <div class="margin-left-10 padding-left-20 pointer">
        <a class="separator">
          <i class="fas fa-lock font-size-14 margin-left-10 icon-color"></i>
          <i class="fas fa-sort-down sort-down"></i>
        </a>
      </div>
    </div>
  </div>
</header>
