.right-sidebar {
  background-color: #fff;
  margin-top: 15px;
  border: 1px solid #dfe0e4;
  border-radius: 1px;
  .map-image {
    border: 1px solid #dfe0e4;
    border-left: none;
    border-right: none;
  }
  .info {
    .info-field {
      display: flex;
      margin-top: 20px;
      a {
        font-size: 12px;
        margin: 0px;
        line-height: 15px;
        color: #36589f;
        text-decoration: none;
      }
      p {
        font-size: 12px;
        margin: 0px;
        line-height: 15px;
      }
      i {
        margin-right: 15px;
        color: #93949f;
        padding: 0px 0px;
        font-size: 12px;
        margin-top: 3px;
      }
      .fa-question {
        color: #4080ff;
      }
      .link-color {
        color: #4080ff;
      }
      .hours {
        text-decoration: underline;
      }
    }
  }
  .photos-images {
    padding: 3px;

    width: 90px;
    height: 90px;
    img {
      cursor: pointer;
      width: 93px;
      height: 93px;
      border: 1px solid #dfe0e4;
    }
  }
  h2 {
    color: #4b4f56;
    font-weight: 800;
  }
  .subtitle {
    border-bottom: 1px solid #dfe0e4;
  }
  .photo-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4px;
  }
}

.thumbnail {
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 720px;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
