<div class="left-sidebar fixme" >
    <div class="display-none-device">
        <img class="avatar"  src="../../../assets/avatar.jpg">
    </div>
    <div class="display-none-device">
        <h1 class="title">Flowmatters <i class="fas fa-check-circle"></i></h1>
        <p class="subtitle" >@EveryInteraction</p>
    </div>
    <div>
        <ul class="sidebar-li" >
            <li class="active">Home</li>
            <li>About</li>
            <li>Notes</li>
            <li>Email Signup</li>
            <li>Photos</li>
            <li>Reviews</li>
            <li>Videos</li>
            <li>Likes</li>
            <li>Posts</li>
        </ul>
        <button class="create-page-button display-none-device" >Create a Page</button>
    </div>
</div>